    @font-face { /* Définition d'une nouvelle police perso LCD*/
    font-family: "fontLCD";
	src: url("fonts/digital-7.ttf") format("truetype");
    }

    body {
        background: url(images/fond.jpg) ;
        margin: 0px; /*sinon le header est décalé*/
    }

    header {
        display: flex;
        color:whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3em;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(black, purple, black);
        height: 100px;
        border: solid rebeccapurple;
    }

    header pre {
        font-family:Arial, Helvetica, sans-serif;
        color: gold;
    }

    #machine {
        display:flex;
    }

    #choix, #corps, #monnaie {
        display: flex; 
        flex-direction: column;
        align-items: center; /*centrage horizontal*/
    }

    #choix { /*boissons*/
        justify-content: space-around; /*etalement vertical*/
        width:25%;
    }

    #corps { /*"cafe" et gobelet*/
        width:50%;
    }

    #monnaie { /*monnayeur*/
        width: 25%;
        padding: 30px;
    }

    #marquee1, #paye {
        width: 250px;
        height: 50px;
        font-family: "fontLCD";
        font-size: 3em;
        border: ridge 20px goldenrod;
        margin: 25px; 
        color: crimson;
        background: lightslategray;    
    }

    #paye {
        display: none;
    }

    #euro {
        display: flex;
        justify-content:space-around;
        width: 100%;
    }
    
    .piece {
        background-color: gold;
        color: grey;
        font-family: 'diplomata';
        font-size: 20px;
        cursor: pointer;
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        box-shadow: 0 9px lightgrey;
    }

    .piece:enabled {
        color: black;
    }

    .piece:enabled:hover {
        background-color: goldenrod;
    }

    #sucre {
        color: whitesmoke;
        font-size: 1.5em;
    }

    .btChoix {
        background: linear-gradient(black,purple,black);
        color: gold;
        font-family: 'diplomata';
        font-size: 1em;
        cursor: pointer;
        width: 250px;
        height: 100px;
        border-radius: 10%; 
        box-shadow: 0 9px lightgrey;
    }

    .btChoix:hover {
        color: goldenrod;
    }

    #btGo {
        background: radial-gradient(black, purple, black);
        color: grey;
        font-family: 'diplomata';
        font-size: 4em;
        cursor: pointer;
        width: 250px;
        height: 250px;
        border-radius: 50%; 
        box-shadow: 0 9px lightgrey;
    }

    #btGo:enabled {
        color: goldenrod;
    } 

    #btGo:enabled:hover {
        color: gold;
    }

    #btGo:enabled:active, .piece:enabled:active, .btChoix:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    #rendu { /*case pour rendre la monnaie*/
        width: 250px;
        height: 200px;
        background-color: black;
        background-image: none;
        background-size: 50%;
        background-position: center bottom;
        background-repeat: no-repeat;
        border: ridge 20px goldenrod;
        border-radius: 25%;
        margin-top: 30px;

    }
/*--------------------- gobelet ---------------------------------*/
    #divGobelet {
        height: 283px;        
        width: 500px;
        background-color: black;
        background-image: url('images/gob0.jpg'); /*image sans gobelet*/
        background-size: contain;
        background-repeat: no-repeat;
        border: ridge 20px goldenrod;
        margin-top: 200px;
    }
    #rideau {
        height: 283px;        
        width: 500px;
        background-image:repeating-linear-gradient(black,ivory 10%,black 15%);
        transition: 2s;
        transform-origin: top;
    }

/*-----------------------------------------------------------------*/

/* Traitement responsive
Sur les écrans, quand la largeur de la fenêtre fait au maximum 1024px */
    @media screen and (max-width: 1024px) {
    #corps, pre {display:none;}
    #machine {
        flex-direction: column;
        align-items: center;
        }
    header iframe, #choix, #monnaie {
        width:100%;
        }
    }

    /*--------------range slider (sucre)-------------------*/
    .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }

    .slider:hover {
    opacity: 1;
    }

    .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: purple;
    cursor: pointer;
    }

    .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: purple;
    cursor: pointer;
    }

    fieldset {
        font-family: Arial, Helvetica, sans-serif;
        width: 200px;
        border: ridge 10px goldenrod;
        background-color: black;
    }

    legend { 
    color:whitesmoke;
    font-size: 1.5em;
    margin: auto;
    padding: 0px 10px;
    }

    /*--------------GLOW de la banniere CAFE-------------------*/
    #glow {
    font-family: cursive;  
    font-size: 12em;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    }

    @-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
    }